/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  text-align: left;
  margin: 0;
  background-color: #1C2228;
  font-family: 'Oswald', sans-serif;
}

a {
  color: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***** Grid template *****/
/*** Grid Container ***/
.page {
  background-color: #1C2228;
  display: grid;
  margin: auto;
  max-width: 800px;
  width: auto;
  gap: 0 1em;
  grid-template-areas:
    "header header header"
    "tagline tagline tagline"
    "clock clock blockquote"
    "figure figure blockquote"
    "button button button"
    "select1 select2 select3"
    "wakeUpTimeSelector lunchTimeSelector bedTimeSelector"
    "footer footer footer";
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

/* Grid items */
header {
  background-color: #A1865E;
  display: flex;
  grid-area: header;
  justify-content: center;
  padding: 3% 5%;
}

h1 {
  color: #F4E1D7;
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
}

#tagline {
  font-family: 'Lato', sans-serif;
  grid-area: tagline;
  padding: 3% 5%;
}

#tagline h4 {
  background-color: #FDF1DA;
  border-radius: 3em;
  color: #271309;
  font-size: 1.25em;
  padding: 3% 10%;
}

#clock-wrapper {
  background-color: #715052;
  border-radius: 1em;
  display: flex;
  grid-area: clock;
  margin: 3% 5%;
  padding: 3% 5%;
}

#clock {
  align-items: center;
  background-color: #D6AB6E;
  border-bottom: 5px solid #271309;
  border-radius: 50%;
  color: #F4E1D7;
  display: flex;
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  height: 6.5em;
  justify-content: center;
  letter-spacing: 5px;
  margin: auto;
  padding: 5%;
  text-align: center;
  text-shadow:
    -1px -1px 0 #271309,
    1px -1px 0 #271309,
    -1px 3px 0 #271309,
    1px 3px 0 #271309;
  width: 6.5em;
}

figure {
  border-radius: 2em;
  border: 2em solid #715052;
  grid-area: figure;
  margin: 3% 5%;
  padding: 3% 5%;
}

img {
  border-bottom: 5px solid #271309;
  width: 100%;
}

#credit {
  grid-area: figure;
  color: #F4E1D7;
  text-align: right;
  font-size: .5em;
  font-style: italic;
}

#event-wrapper {
  align-self: center;
  background-color: #E9D2BF;
  border-bottom: 5px solid #271309;
  border-radius: 10%;
  color: #271309;
  display: flex;
  flex-direction: column;
  grid-area: blockquote;
  height: 80%;
  justify-content: center;
  margin: 6% 10%;
  padding: 3% 5%;
}

#eventTitle {
  font-size: 1.6em;
  text-align: left;
  text-transform: capitalize;
  width: 100%;
}

#timeEvent {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  margin: 0;
  text-align: left;
}

#button-wrapper {
  grid-area: button;
  margin: 3% 5%;
}

#beachTimeButton {
  background-image: linear-gradient(to right, #40EED7, #F7E6CD);
  border-bottom: 5px solid #271309;
  border-radius: 35%;
  color: #271309;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 2px;
  min-height: 5em;
  text-decoration: underline;
  width: 100%;
}

.selectors {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3% 5%;
  padding: 3% 5%;
}

.selectors p {
  color: #E9D2BF;
  height: 2.5em;
  letter-spacing: 2px;
  padding: 3% 5%;
  text-align: center;
  text-transform: uppercase;
}

.selectors select {
  background-color: #E9D2BF;
  border-bottom: 5px solid #271309;
  border-radius: 20%;
  color: #271309;
  margin-bottom: 2em;
}

#select1 {
  grid-area: select1;
}

#wakeUpTimeSelector {
  grid-area: wakeUpTimeSelector;
}

#select2 {
  grid-area: select2;
}

#lunchTimeSelector {
  grid-area: lunchTimeSelector;
}

#select3 {
  grid-area: select3;
}

#bedTimeSelector {
  grid-area: bedTimeSelector;
}

footer {
  background-color: #A1865E;
  color: #F4E1D7;
  display: flex;
  grid-area: footer;
  justify-content: center;
  letter-spacing: 2px;
  padding: 3% 5%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
   @media screen and (min-width:400px) {
   	#clock {
       font-size: 150%;
     }
   }

   /* @media only screen and (min-width: 35em) {
     /* Style adjustments for viewports that meet the condition */
   } */

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
